<div data-role="view" data-title="Add" data-model="app.masterDetailView.addItemViewModel" data-bind="events: { show: onShow }" id="masterDetailViewModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Create</span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_masterDetailViewModel -->
    <!-- END_CUSTOM_CODE_masterDetailViewModel -->
    <div id="editableListForm8" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label>

                        <span>FirstName</span>

                        <input id="firstName" data-bind="value: addFormData.firstName" placeholder="Type here ..." type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm8 -->
        <!-- END_CUSTOM_CODE_editableListForm8 -->
    </div>
</div>